@media screen and (min-width: 0px) {
    .flagg_div2 abbr[data_title]:hover::after,
    .flagg_div2 abbr[data_title]:focus::after {
        left: 30px;
        bottom: -2px;
    }
}
@media (max-width:1919px) {
    .reaklame_sidene {
        display: none;
    }
}
.reaklame_sidene {
    width: 170px !important;
}
@media (min-width:2270px) {
    .reaklame_sidene {
        width: 400px !important;
    }
}
#ad_venstre {
    float: left;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding-top:300px;
}
#ad_hoyre {
    float: right;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding-top:300px;
}
#land {
    width: 52px;
    min-width: 52px;
}

.container_ {
    width: 99.3%;
    margin: auto;
}

@media (min-width:1294px) {
    .container_ {
        width: 1260px;
    }
}
/* @media (min-width:1437px) {
    .container_ {
        width: 1680px;
    }
} */


#overskrift_ti_års, #beskrivelse_ti_års {
    text-align: center;
}
/* .btn.btn-secondary:focus, .btn.btn-secondary:active, .btn-secondary.dropdown-toggle:focus, .btn-secondary.focus, td .form-control {  /*Fjerner irriterende ramme på knapp ved trykking
    box-shadow:none !important;
}
.btn-secondary {
    display:inline;
    float:left;
    height:38px;
    font-size: 20px;
    padding: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
    color: rgb(196, 217, 255);
    transition: all 0s !important;
}
#sessong_kontroller_1 {
    margin-left: 5px !important;
}
#sessong_kontroller_2 {
    margin-right: 6px !important;
} */
.over_tabellen_div {
    display:inline-block;
}
.tabell_div_landskoeffisient{
    background-color:white;
    border-radius: .5rem;
    border-top-left-radius: 0;
    padding-bottom: 0px;
    padding-top: calc(0.3% + 6px);
    overflow-x:auto
}
.dropdown {
    margin-bottom: 8px;
}
.dropdown-content {
    border: 2px solid rgb(164, 164, 164);
}
.ytterst_tabell_div {
    margin-left: 0px !important;
}
.decisive_tekst {
    font-style: italic;
    color: rgba(52, 58, 64, 0.6);
    font-size: 13px;
    background-color: white;
    margin-bottom: -3px;
    padding-left: 16px;
    padding-right: 15px;
    padding-top: 6px;
    width:fit-content;
    border-top-right-radius: .4rem;
}
.ytterst_tabell_div {
    display:flex;
    flex-wrap:wrap;
    height: fit-content;
    background-color: white;
    width:fit-content;
    padding-bottom: 14px;
    margin-bottom: -23px !important;
    margin-bottom: calc(-0.4% - 5px);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0;
}
table {
    border-top: 4px !important;
    border: 1px solid rgba(177, 177, 177, 0.8);
}
thead {
    border-top: 4px !important;
    border: 1px solid rgba(177, 177, 177, 0.8);
}
th {
    border: 1px solid rgba(177, 177, 177, 0.8) !important;
}
th, td {
    color: #343a40;
    height: 20px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    white-space: nowrap !important;
}
.table.table-sm{
    width:calc(99.35% - 12px);
    margin-left:calc(0.35% + 6px);
    margin-right:calc(0.3% + 6px);
    margin-bottom:calc(0.3% + 6px);
}
.btn.btn-primary:focus, .btn.btn-primary:active, .btn-primary.dropdown-toggle:focus, .btn-primary.focus {  /*Fjerner irriterende ramme på knapp ved trykking*/
    box-shadow:none !important;
}
.btn-primary {
    background-color: rgb(196, 217, 255);
    border-color: rgb(154, 176, 218);
    color: #4a56ff;
}
.btn-primary:hover {
    background-color: rgb(154, 176, 218) !important;
    border-color: rgb(154, 176, 218) !important;
    color: #4a56ff !important;
}
.btn-primary:active, .btn.btn-primary:active {
    background-color: rgb(154, 176, 218) !important;
    border-color: rgb(154, 176, 218) !important;
    color: #4a56ff !important;
}
.btn-primary.dropdown-toggle:focus, .btn-primary.focus, .btn-primary:focus {
    background-color: rgb(196, 217, 255) !important;
    border-color: rgb(154, 176, 218) !important;
    color: #4a56ff !important;
}
.table-hover tbody tr:hover{
    background-color:rgba(151, 151, 151, 0.275);
}
#klubb, #poeng, #na_poeng, #tittel_poeng, #sesong1, #sesong2, #sesong3, #sesong4, #sesong5, #sesong6, #sesong7, #sesong8, #sesong9, #sesong10 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 69px;
}
#tittel_poeng, #na_poeng {
    text-align: center;
}
#sesong1, #sesong2, #sesong3, #sesong4, #sesong5, #sesong6, #sesong7, #sesong8, #sesong9, #sesong10, #poeng {
    text-align: right;
    min-width: 55px;
    padding-left: 3.55px !important;
    padding-right: 3.55px !important;
}
#klubb {
    padding-left: 8px;
    text-align: right;
}
#na_poeng {
    padding-left: 20px;
}
.padding_høyre {
    padding-right: 8px !important;
}
th {
    border-left: none !important;
    border-right: none !important;
}
#id_nr, #land {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#id_nr {
    text-align: right;
}
#klubb {
    width: 100px !important;
    text-align: left;
}
#poeng {
    min-width: 82px;
}
.marign_venstre {
    padding-left: 3px;
}

.høyrestill {
    float: right;
    margin-left: 5px;
}
.margin {
    float: right;
}
.utydelig, a:hover {
    color: rgb(81, 89, 97);
}
.utydelig_link {
    color: rgb(112, 122, 255);;
}
.premie_koeff {
    vertical-align:middle;
    font-family: "Noto Sans Math", monospace;
    text-align: right;
    min-width: 51px;
    margin: 0 auto;
}
.premie_koeff_2 {
    vertical-align:middle;
    font-family: "Noto Sans Math", monospace;
    text-align: right;
    min-width: 61px;
    margin: 0 auto;
}
.id_nr {
    max-width: 42px;
    min-width: 42px;
    width: 42px;
    text-align: center;
}
.link, .link_2 {
    padding: 0px !important;
}
.link:hover {
    color: #343a40;
}
.link_2:hover {
    color: rgba(52, 58, 64, 0.9);
}
.gjennomsiktighet {
    color: rgba(52, 58, 64, 0.6);
    font-size: 14px;
    font-style: italic;
}
a {
    padding-left: 0px !important;
}
.no_hover {
    width: 40px;
    float: left;
}
.no_hover:hover {
    background-color: rgba(0,0,0,0) !important;
}
.no_hover:hover {
    background-color:#929292 !important;
    border: 2px solid #777777 !important;
    cursor: default !important;
}
.flagg_div .flagg {
    height:19px;
    margin-bottom: 8px;
}
.flagg_div {
    margin-top: 1px;
    margin-right: 4px;
    float:left;
    height: 21px;
    width: 21px;
    border-radius: 100%;
    background-color: rgba(161, 161, 161, 0.5);
    border: 1px solid rgb(0,0,0,0);
    box-shadow: .7px .7px rgba(110, 110, 110, 0.5);
}
.jordklode {
    margin-top: -3px;
    margin-bottom: -1px;
    margin-right: 2px;
    margin-left: -2px;
}
.dropdown_elementer_2 .flagg_div {
    float:none !important;
    margin-top: -2px;
    margin-right: 0px;
}
.dropdown_elementer_2 {
    max-height: none !important;
    display: inline-block;
    overflow:hidden !important;
    width:100%;
}
#NIR_ {
    border-radius: 50%;
}
.content_land {
    min-width: 0px;
    width: 236px;
    height: 197px;
    overflow-y: hidden;
    border: 2px solid rgb(164, 164, 164);
}
@media (max-width:373px) {
    .content_land {
        width: 120px;
        height: 384px;
    }
}
.meny_element_2 {
    color: #343a40;
    width:fit-content;
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0, 0, 0, 0);
    padding:3px;
    border-radius: 0% !important;
}
.meny_element_2:hover {
    background-color: rgb(221, 221, 221);
    border: 1px solid rgba(0, 0, 0, 0);
}
.meny_element_2:hover .flagg_div {
    transition-duration: 0.2s;
    transform: rotate(20deg);
}
.ekstra_meny_element:hover .roter {
    transition-duration: 0.2s;
    transform: rotate(20deg);
}
.ekstra_meny_element {
    padding:0px;
    float: right;
    width: 29px;
    padding-left: 1px;
    height: 27px;
}
.meny_element_2.active,.meny_element_2:focus,.meny_element_2:active,.meny_element_2:focus:active {
    box-shadow:none !important;
    outline: none !important;
}
#tom_kolonne {
    width: 0px !important;
    padding:0px !important;
    font-size: 0px !important;
    border-right: 1px solid rgba(0,0,0,0) !important;
}
.ikke_land:hover {
    width: calc(100% + 6px) !important;
}
.klubb_logo {
    margin-bottom: 1.7px;
}