body{
    background-color: rgb(196, 217, 255);
    font-family: sans-serif;
}
.navbar {
    background-color: #343a40;
}
#norsk, #english {
    color: rgb(196, 217, 255);
    color: rgb(196, 217, 255);
}
.btn-link {
    text-align:left;
    padding-left: 0px !important;
}
#hjem {
    margin-right: 1rem !important;
}
#koeffisient_kalkulator {
    margin-right: 2rem !important;
}
.navbar-dark .navbar-nav .nav-link {
    color:rgba(250, 250, 250, 0.5)
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color:rgba(250, 250, 250, 0.75)
}
#beskrivelse, th, #overskrift, #overskrift_koeffisient, #beskrivelse_koeffisient {
    color: #343a40;
}
.ytre_tabell_div{
    margin-left:-2%;
    background-color: white;
    width:155px;
    height:5rem;
    padding-top:.6rem;
    padding-bottom:5rem;
    margin-bottom:-4rem;
    border-radius: 0.5rem;
    padding-left: 0.3rem;
    display: flex;
}
.sesong{
    color: #4a56ff;
}
.tabell_div{
    width:104%;
    background-color:white;
    border-radius: .5rem;
    padding-bottom: .1%;
    padding-top: 1.5%;
    margin-left:-1.99%;
    overflow-x:auto
}
footer div{
    height: 24rem;
    background-color: #343a40;
}
.laget_av {
   text-align: center;
   padding-top: 3rem;
}
.tekst_1 {
    color: rgb(196, 217, 255);
}
.logo_twitter:hover{
    filter: brightness(0) saturate(100%) invert(87%) sepia(4%) saturate(4998%) hue-rotate(187deg) brightness(101%) contrast(101%);
}
a {
    color: #4a56ff;
}
a:not(.poengtype_overskrift) {
    padding-left: 1rem;
}
a:hover {
    color: rgb(196, 217, 255);
}
.graa_hover_link, .graa_hover_link_koeff_deffi {
    padding-left: 0px !important;
}
.graa_hover_link:hover, .graa_hover_link_2:hover {
    color: #929292;
}
.graa_hover_link_koeff_deffi:hover {
    color: #343a40;
}
#mailto {
    padding-left: 1px !important;
}
#Layer_1 {
    fill:red;
}
.sentrer {
    text-align: center;
}