.container_ {
    display: block;
}
.reklame_øverst {
    margin:auto;
    padding: auto;
    width:calc(100% - 90px);
}
.reklame_nederst {
    margin:auto;
    padding: auto;
    width:calc(100% - 30px);
}
.dropdown_land {
    z-index: 1000;
}
.reaklame_sidene {
    background-color: #343a40;
    width: 220px;
    margin-top: 1000px;
}
@media screen and (min-width: 0px) {
    .abbr_bidrag:hover::after,
    .abbr_bidrag:focus::after {
        left: -271px !important;
    }

    abbr[data_title] {
        position: relative;
            
        /* ensure consistent styling across browsers */
        text-decoration: underline !important;
    }        
    abbr[data_title]:hover::after,
    abbr[data_title]:focus::after {
        content: attr(data_title);
        cursor: default !important;
            
        /* position tooltip like the native one */
        position: absolute;
        left: 0;
        bottom: -30px;
        width: auto;
        white-space: nowrap;
        z-index: 1;
            
        /* style tooltip */
        background-color: #343a40;
        color: rgb(240, 240, 240);
        border-radius: 3px;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
        font-size: 14px;
        padding: 3px 5px;
    }
    #spoiler_abbr:hover::after,
    #spoiler_abbr:focus::after {
        bottom: -18px !important;
        left: 19px !important;
    }
    #NA_prosent:hover::after,
    #NA_prosent:focus::after {
        bottom: -30px !important;
        left: 0px !important;
    }
}


body{
    background-image: url("../media/klubb_bakgrunn_liten.png");
    background-size: contain;
    background-color: rgb(196, 217, 255);
    font-family: sans-serif;
}
@media screen and (max-width:1200px){
    body{
        background-size: 206% !important;
    }
}
@media screen and (max-width:700px){
    body{
        background-size: 308% !important;
    }
}
.navbar {
    background-color: #343a40;
}
#norsk, #english {
    color: rgb(196, 217, 255);
    color: rgb(196, 217, 255);
}
.btn-link {
    text-align:left;
    padding-left: 0px !important;
}
#hjem {
    margin-right: 1rem !important;
}
#premiepenger_kalkulator, #koeffisient_kalkulator, #landskoeff_rangering, #klubbkoeff_rangering, #ti_års_rangering {
    margin-right: .8rem !important;
}
#fire_års_rangering {
    margin-right: 2rem !important;
}
.navbar-dark .navbar-nav .nav-link {
    color:rgba(250, 250, 250, 0.5)
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color:rgba(250, 250, 250, 0.75)
}
#overskrift_klubbkoeffisient, #overskrift_landskoeffisient, #overskrift_forside, th, #overskrift_premiepenger, #overskrift_koeffisient, #overskrift_ti_års, #overskrift_fire_års {
    color: rgba(52, 58, 64, 1);
}
#beskrivelse_klubbkoeffisient, #beskrivelse_landskoeffisient, #beskrivelse_landskoeffisient_klubb, #beskrivelse_forside, #beskrivelse_premiepenger,  #beskrivelse_koeffisient, #beskrivelse_ti_års, #beskrivelse_fire_års, #premiepenger_land_beskrivelse {
    color: rgba(52, 58, 64, 0.9);
}
.ytterst_tabell_div {
    display:flex;
    flex-wrap:wrap;
    height: fit-content;
    margin-left: -2%;
    background-color: white;
    width:fit-content;
    margin-bottom: calc(-0.4% - 5px);
    border-radius: 0.5rem;
}
.ytre_tabell_div{
    width: fit-content;
    height:fit-content;
    padding-top:.6rem;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display:inline-flex;
    margin-right: -1.5%;
    margin-left: 1.5%;
}
.sesong{
    color: #4a56ff;
}
/*Dropdown meny start*/

.søkeområde {
    background-color: white;
    border-bottom: 1px solid #ddd;
}

#myInput {
    color: #343a40;
    box-sizing: border-box;
    background-image: url('../media/search-svgrepo-com.svg');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 4px 10px 45px;
    border: none;
    width: 84.4%;
}

.knapp_clean {
    vertical-align: top;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    margin-left: -5px;
}

.x_clean {
    padding-left: 6px;
    padding-right: 8px;
}
.x_clean:hover {
    filter: brightness(20%);
}

#myInput:focus,.knapp_clean:focus {outline: none; border-bottom: 3px solid #ddd;}

.dropdown {
    position: relative;
    width: fit-content;
    float: left;
    height: 3,4rem;
    margin-top: 9px;
    margin-right: 12px;
    border-top-right-radius: 5px;
    margin-left: .75rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 70px;
    overflow: auto;
    border: 1px solid rgb(200, 200, 200);
    z-index: 1;
}
.dropdown_elementer {
    max-height:250px;/* you can change as you need it */
    overflow-x:auto;/* to get scroll */
    overflow-x: hidden;
}
.meny_element {
    color: #343a40;
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    text-align: left;
    padding: 2px 16px;
}
#eksperimentell_profil_meny_element {
    font-style: italic;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.meny_element:hover { 
    background-color: rgb(221, 221, 221);
    border-left: 2px solid rgb(200, 200, 200);
}

.show {display: block;}


.opp_ned_pil{
    margin-left: 0.7rem;
    float:right;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.meny_element.active,.meny_element:focus,.meny_element:active,.meny_element:focus:active {
    box-shadow:none !important;
    outline: none !important;
}
/*Dropdown menu, ferdig*/

.tabell_div{
    width:104%;
    background-color:white;
    border-radius: .5rem;
    border-top-left-radius: 0;
    padding-bottom: .1%;
    padding-top: calc(0.7% + 5px);
    margin-left:-1.99%;
    overflow-x:auto
}
.tabell_div_2{
    width:104%;
    background-color:white;
    border-radius: .5rem;
    padding-bottom: .1%;
    padding-top: calc(0.7% + 5px);
    margin-left:-1.99%;
    overflow-x:auto
}
footer div{
    height: 24rem;
    min-height: 24.87vh !important;
}
footer {
    background-color: #343a40;
}
.laget_av {
   text-align: center;
   padding-top: 3rem;
}
.tekst_1 {
    color: rgb(196, 217, 255);
}
.logo_twitter:hover{
    filter: brightness(0) saturate(100%) invert(87%) sepia(4%) saturate(4998%) hue-rotate(187deg) brightness(101%) contrast(101%);
}
a {
    color: #4a56ff;
}
a:not(.poengtype_overskrift, #link_lands_klubb, .nav-link) {
    padding-left: 1rem;
}
a:hover {
    color: rgb(196, 217, 255);
}
.graa_hover_link, .graa_hover_link_koeff_deffi, .graa_hover_link_tabell_header, .graa_hover_link_decisive {
    padding-left: 0px !important;
}
.graa_hover_link:hover, .graa_hover_link_2:hover {
    color: #929292;
}
.graa_hover_link_koeff_deffi:hover, .poengtype_overskrift:hover {
    color: #343a40;
}
.graa_hover_link_decisive:hover {
    color: rgba(52, 58, 64, 0.6);
}
.graa_hover_link_decisive {
    color: rgba(74, 86, 255, 0.8)
}
.graa_hover_link_tabell_header:hover {
    color: rgb(73, 80, 87);
}
#koeff_reklame {
    font-weight: bold;
}
#legend, #access_list {
    font-style: italic;
}
#mailto {
    padding-left: 1px !important;
}
#twitter_tekst {
    padding-left: 0px !important;
}
#Layer_1 {
    fill:red;
}
.sentrer {
    text-align: center;
}
.marketPool {
    font-size: 13px;
    color: rgba(52, 58, 64, 0.658);
}
#uefa_distribution_link,#klubb_link {
    color: #4a56ffec;
}
#uefa_distribution_link:hover,#klubb_link:hover {
    color: rgba(52, 58, 64, 0.658);
}



.btn-secondary:disabled {
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
    color: rgba(255,255,255,0);
}
.btn-secondary:hover:enabled {
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
    color: rgb(154, 176, 218) !important;
}
.btn-secondary:active:enabled, .btn.btn-secondary:active:enabled {
    background-color: white !important;
    border-color: white !important;
    color: #4a56ff !important;
}
.btn-secondary.dropdown-toggle:focus:enabled, .btn-secondary.focus:enabled, .btn-secondary:focus:enabled {
    background-color: white !important;
    border-color: white !important;
    color: rgb(196, 217, 255) !important;
}
.nav-link {
    padding-right: 16px !important;
}
.reklame_landskoeff, #premiepenger_bidrag_beskrivelse, #koeff_bidrag_beskrivelse {
    color: rgba(52, 58, 64, 0.6);
    font-size: 14px;
    font-style: italic;
}
.landskoeff_link {
    padding-left: 0px !important;
    color: rgba(74, 86, 255, 0.6) !important;
}
.landskoeff_link:hover {
    padding-left: 0px !important;
    color: rgba(52, 58, 64, 0.6) !important;
}
.link_utydelig:hover {
    color: rgba(52, 58, 64, 0.6);
}
.link_utydelig {
    padding-left: 0px !important;
    color: #6872ff;
}
.klubb_logo_kalkulatorer {
    margin-right: 5px !important;
    margin-bottom: 2px;
    height: 19px !important;
}
.klubb_logo_kalkulatorer_knapp {
    margin-left: 0px !important;
    margin-right: 8px !important;
    margin-bottom: 2px;
    height: 20px !important;
}
.dropdown-content-egen-bredde {
    width:283px !important;
}
.klubb_logo, .klubb_logo_4y {
    margin-left: 3px;
    margin-right: 6px;
    margin-bottom: 2.3px;
    height: 20px;
    width: 20px;
}
.ramme_hoyre_tynn, .ramme_hoyre {
    border-right: 1px solid rgba(177, 177, 177, 1) !important;
}
.veldig_utydelig {
    color: rgb(135, 142, 150);
}
.mørk_bakgrunn {
    background-color: #343a4012;
}
.senter {
    width:fit-content;
    margin: auto;
}
.container_, .container_4_aar {
    display: flex;
    min-height: 69vh;
    flex-direction: column;
}
.ucl_gs {
    background-color: rgba(190, 210, 231, 0.7) !important;
}
.ucl_gs_uel {
    background: linear-gradient(to right, #bed2e7b3 50%, #ffd2b2b3 50%);
}
.uel_gs {
    background-color: rgba(255, 210, 178, 0.7) !important;
}
.uel_gs_uecl {
    background: linear-gradient(to right, #ffd2b2b3 50%, #b2ecb6b3 50%);
}
.uecl_gs {
    background-color: rgba(178, 236, 182, 0.7) !important;
}
.ventemelding {
    margin-left: 18px;
    color: rgba(255, 0, 0, 0.316);
}
.dropdown_periode {
    z-index: 1001;
}
.fortsatt_med {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(193, 215, 255, 0.8) 25%, rgba(0,0,0,0) 100%);
    border-bottom: 1px solid rgba(177, 177, 177, 0.2) !important;
    border-top: 1px solid rgba(177, 177, 177, 0.2) !important;
    /* display:inline-table !important; */
}
.var_med {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(192, 255, 214, 0.8) 25%, rgba(0,0,0,0) 100%);
    border-bottom: 1px solid rgba(177, 177, 177, 0.2) !important;
    border-top: 1px solid rgba(177, 177, 177, 0.2) !important;
}
.ramme_ikke_grønn {
    border-bottom: 1px solid rgba(177, 177, 177, 0.8) !important;
}
.reklame_bunn_margin, #beskrivelse_landskoeffisient, #beskrivelse_landskoeffisient_klubb, #beskrivelse_koeffisient {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
#spoiler {
    padding:3px;
    height: 38px;
    width: 29px;
    margin-top: 9px;
    margin-left: 19px;
    margin-right: 9px;
    margin-bottom: 5px;
    padding-right: -1px !important;
    padding-left: 5px !important;
    padding-top: 4px !important;
}
.spoiler_pil {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.premie_koeff_3 {
    vertical-align:middle;
    min-width: 34px;
    margin: 0 auto;
}
.padd_dropDown {
    padding-left: 13px;
}
.reklame_topp {
    padding-left: 11%;
    padding-right: 11%;
}
.valgt_element, .valgt_element2 {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(195, 217, 255, 0.8) 25%, rgba(0,0,0,0) 100%);
    border-top: 1px solid rgb(183, 183, 183);
    border-bottom: 1px solid rgb(183, 183, 183);
}
.flagg_div2 .flagg {
    width: 17.4px;
    margin-bottom: 10.1px;
}
.flagg_div2 {
    margin-left: 8.7px;
    margin-top: 2.3px;
    float:left;
    height: 19.1px;
    width: 19.1px;
    border-radius: 100%;
    background-color: rgba(161, 161, 161, 0.5);
    border: .8px solid rgb(0,0,0,0);
    box-shadow: .6px .6px rgba(110, 110, 110, 0.5);
}
#NIR__ {
    border-radius: 50%;
}
#NIR, #NIRe {
    border-radius: 50%;
}
.land_klubb_rank {
    background-color: #fcffe4 !important;
}
.land_klubb_rank .id_nr, .inaktiv_klubb .veldig_utydelig {
    border-right: none !important;
}
.inaktiv_klubb .id_nr:not(.veldig_utydelig) {
    border-right: 1px solid rgba(0,0,0,0) !important;
}
.inaktiv_klubb .id_nr {
    border-bottom: 1px solid rgba(177, 177, 177, 0.2) !important;
}