@media (max-width:1776px) {
    .reaklame_sidene {
        display: none;
    }
}
.reaklame_sidene {
    margin-top: 365px !important;
}
#ad_venstre {
    float: left;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
#ad_hoyre {
    float: right;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
@media (min-width:256px) {
    .container {
        max-width:600px
    }
    .table-sm .resultat_celle_1, .tom_celle {
        min-width:128px !important;
    }
}
@media (min-width:768px) {
    .container {
        max-width:820px
    }
    .table-sm .resultat_celle_1, .tom_celle {
        min-width:128px !important;
    }
}
@media (min-width:992px) {
    .container {
        max-width:950px
    }
}
@media (min-width:1200px) {
    .container {
        max-width:1140px
    }
} 
@media (min-width:1308px) {
    .container {
        max-width:1220px
    }
}
@media (min-width:256px) {
    .container,.container-sm {
        max-width:820px
    }
}@media (min-width:768px) {
    .container, .container-md, .container-sm {
        max-width:800px
    }
}@media (min-width:992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width:950px
    }
}@media (min-width:1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width:1140px
    }
}
@media (min-width:1308px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width:1220px
    }
}

.ytterst_tabell_div {
    width:100% !important;
    margin: auto;
}

#knapper {
    width:100%;
}

.container {
    margin: auto;
}
.ytterst_tabell_div {
    background-color: rgba(0,0,0,0);
}
button {
    color: #343a40;
    min-width: 50px;
    min-height: 28px;
    font-size: 18px;
    margin-right: 3px;
    margin-bottom: 3px;
    border: 1px solid #343a40;
}
button:not(.navbar-toggler, #tilbake, .btn-link) {
    background-color: rgb(238, 238, 238) !important;
}
#tilbake {
    background-color: rgba(210, 210, 210,0) !important;
}
.twitter_link {
    padding: 0px !important;
}