@media screen and (min-width: 0px) {
    abbr[data_title]:hover::after,
    abbr[data_title]:focus::after {
        left: 30px;
        bottom: -2px;
    }
}
@media (max-width:1700px) {
    .reaklame_sidene {
        display: none;
    }
}
#ad_venstre {
    float: left;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding-top:300px;
}
#ad_hoyre {
    float: right;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding-top:300px;
}

.container_ {
    width: 99.3%;
    margin: auto;
}

/*Hvis oppdater: Oppdater også tilsvarende for Mac i .js*/
@media (min-width:873px) {
    .container_:not(.container_Mac) {
        width: 843px;
    }
}

@media (min-width:923px) {
    .container_Mac {
        width: 891px !important;
    }    
}

#overskrift_landskoeffisient, #beskrivelse_landskoeffisient {
    text-align: center;
}
/* .btn.btn-secondary:focus, .btn.btn-secondary:active, .btn-secondary.dropdown-toggle:focus, .btn-secondary.focus, td .form-control {  /*Fjerner irriterende ramme på knapp ved trykking
    box-shadow:none !important;
}
.btn-secondary {
    display:inline;
    float:left;
    height:38px;
    font-size: 20px;
    padding: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
    color: rgb(196, 217, 255);
    transition: all 0s !important;
}
#sessong_kontroller_1 {
    margin-left: 5px !important;
}
#sessong_kontroller_2 {
    margin-right: 6px !important;
} */
.over_tabellen_div {
    display:inline-block;
}
.tabell_div_landskoeffisient, .tabell_div_landskoeffisient_klubb{
    background-color:white;
    border-radius: .5rem;
    border-top-left-radius: 0;
    padding-bottom: .1%;
    padding-top: calc(0.7% + 5px);
    overflow-x:auto;
}
.dropdown {
    margin-bottom: 8px;
}
.dropdown-content {
    border: 2px solid rgb(164, 164, 164);
}
.decisive_tekst {
    font-style: italic;
    color: rgba(52, 58, 64, 0.6);
    font-size: 13px;
    background-color: white;
    margin-bottom: -3px;
    padding-left: 16px;
    padding-right: 15px;
    padding-top: 6px;
    width:fit-content;
    border-top-right-radius: .4rem;
}
.ytterst_tabell_div {
    margin-left: 0px !important;
    display:flex;
    flex-wrap:wrap;
    height: fit-content;
    background-color: white;
    width:fit-content;
    margin-bottom: calc(-0.4% - 5px);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
table {
    border-top: 4px !important;
    border: 1px solid rgba(177, 177, 177, 0.8);
}
thead {
    border-top: 4px !important;
    border: 1px solid rgba(177, 177, 177, 0.8);
}
th {
    border-top: 1px solid rgba(177, 177, 177, 0.8) !important;
    border-bottom: 1px solid rgba(177, 177, 177, 0.8) !important;
}
th:not(.tom_kolonne1,.id_nr, .id_nr_klubb, #poeng, #land2, #poeng2, #prosent_NA, #sesong2_klubb, #sesong3_klubb, #sesong4_klubb, #sesong5_klubb)  {
    border-left: 1px solid rgba(177, 177, 177, 0.8) !important;
}
#poeng {
    background: linear-gradient(to right, rgba(177, 177, 177, 0.8) 1px, #E9ECEF 1px);
}

th, td {
    color: #343a40;
    height: 20px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    white-space: nowrap !important;
}
.table.table-sm{
    width:97.9%;
    margin-left:1.1%;
    margin-right:1%;
    margin-bottom: 1.1%;
}
.btn.btn-primary:focus, .btn.btn-primary:active, .btn-primary.dropdown-toggle:focus, .btn-primary.focus {  /*Fjerner irriterende ramme på knapp ved trykking*/
    box-shadow:none !important;
}
.btn-primary {
    background-color: rgb(196, 217, 255);
    border-color: rgb(154, 176, 218);
    color: #4a56ff;
}
.btn-primary:hover {
    background-color: rgb(154, 176, 218) !important;
    border-color: rgb(154, 176, 218) !important;
    color: #4a56ff !important;
}
.btn-primary:active, .btn.btn-primary:active {
    background-color: rgb(154, 176, 218) !important;
    border-color: rgb(154, 176, 218) !important;
    color: #4a56ff !important;
}
.btn-primary.dropdown-toggle:focus, .btn-primary.focus, .btn-primary:focus {
    background-color: rgb(196, 217, 255) !important;
    border-color: rgb(154, 176, 218) !important;
    color: #4a56ff !important;
}
.table-hover tbody tr:hover{
    background-color:rgba(151, 151, 151, 0.275);
}
#sesong1, #sesong2, #sesong3, #sesong4, #sesong5 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
    min-width: 5px;
}
#id_nr {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
    padding-right: 8px;
}
#poeng2 {
    text-align: center;
    padding-left: 8px;
    padding-bottom: 2px !important;
}
#land2, #club, #prosent_NA, #id_nr_klubb, #sesong1_klubb, #sesong2_klubb, #sesong3_klubb, #sesong4_klubb, #sesong5_klubb {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#sesong1_klubb, #sesong2_klubb, #sesong3_klubb, #sesong4_klubb, #sesong5_klubb {
    min-width: 5px;
    padding-right: 1%;
    text-align: right;
}
#prosent_NA {
    min-width: 67px;
    text-align: right;
}
.senter_prosent_NA {
    width:50px !important;
    float: right;
    margin-right: 4px;
}
.senter_klubb_poeng {
    width: 56px !important;
    float: right;
}
.senter_klubb_sesong {
    width:39px;
    margin: auto;
}
#poeng {
    min-width: 82px;
    text-align: right;
    padding: 10px;
}
.jordklode {
    margin-bottom: 1px;
}
.jordklode_mod {
    float:right;
}
.jordklode2 {
    margin-top: -3px;
    margin-bottom: -1px;
    margin-right: 2px;
    margin-left: -2px;
}
.content_land {
    min-width: 0px;
    width: 236px;
    height: 197px;
    overflow-y: hidden;
    border: 2px solid rgb(164, 164, 164);
}
@media (max-width:373px) {
    .content_land {
        width: 120px;
        height: 384px;
    }
}
#NIR_, #NIR__ {
    border-radius: 50%;
}
.dropdown_elementer_2 .flagg_divT {
    float:none !important;
    margin-top: -2px;
    margin-right: 0px;
}
.flagg_divT {
    margin-top: 1px;
    margin-right: 4px;
    float:left;
    height: 21px;
    width: 21px;
    border-radius: 100%;
    border: 1px solid rgba(161, 161, 161, 0.5);
    box-shadow: .7px .7px rgba(110, 110, 110, 0.5);
}
.meny_element_2:hover .flagg_divT {
    transition-duration: 0.2s;
    transform: rotate(20deg);
}
.meny_element_2 {
    color: #343a40;
    width:fit-content;
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0, 0, 0, 0);
    padding:3px;
    border-radius: 0% !important;
}
.meny_element_2:hover {
    background-color: rgb(221, 221, 221);
    border: 1px solid rgba(0, 0, 0, 0);
}
.meny_element_2.active,.meny_element_2:focus,.meny_element_2:active,.meny_element_2:focus:active {
    box-shadow:none !important;
    outline: none !important;
}
.ekstra_meny_element:hover .roter {
    transition-duration: 0.2s;
    transform: rotate(20deg);
}
.ekstra_meny_element {
    padding:0px;
    float: right;
    width: 29px;
    padding-left: 1px;
    height: 27px;
}
.dropdown_elementer_2 {
    max-height: none !important;
    display: inline-block;
    overflow:hidden !important;
    width:100%;
}
/* @media (min-width:1021px) {
    #poeng, #sesong1, #sesong2, #sesong3, #sesong4, #sesong5 {
        text-align: right;
    }
} */
#land2 {
    width: 57px;
    min-width: 57px;
}
.marign_venstre {
    padding-left: 3px;
}
/*Skal stå "float:left;" dersom land har internt fremtidig oppgjør og er garantert koeffisientpoeng.*/
.flagg_hoyre {
    float:right;
}
#internt_oppgjør_asterisk {
    padding-top: 8px;
}

.høyrestill {
    float: right;
    margin-left: 5px;
}

.premie_koeff {
    vertical-align:middle;
    font-family: "Noto Sans Math", monospace;
    text-align: right;
}
.id_nr:not(.rangeringEndring, #id_nr) {
    padding-left: 12px;
    padding-right: 0px !important;
    width: 30px !important;
    min-width: 30px !important;
}
#id_nr {
    padding-left: 8px;
    text-align:left;
}
#land {
    width: 20px !important;
}
.midt {
    width: 18.66px;
    display: inline-block;
    text-align: center !important;
}
#tabell_hoved .id_nr_klubb:not(.rangeringEndring_) {
    max-width: 30px;
    min-width: 30px;
    padding-left: 11px;
    padding-right: 0px !important;
    width: 30px;
    border-right: 0px solid rgba(177, 177, 177, 1) !important;
}

#tabell_klubb .id_nr_klubb {
    max-width: 42px;
    min-width: 42px;
    text-align: center !important;
}

.rangeringEndring:not(.ekstra_bredde2) {
    padding-right: 0px !important;
    padding-left: 5px !important;
    width: 0px;
    padding-right: 5px !important;
}
.rangeringEndring_:not(.ekstra_bredde2_) {
    padding-right: 0px !important;
    padding-left: 5px !important;
    width: 0px;
    padding-right: 8px !important;
}
.ekstra_bredde2 {
    width: 11px !important;
    min-width: 11px !important;
}
.ekstremt_utydelig {
    color: rgba(135, 142, 150, 0.4) !important;
}
.ganske_utydelig {
    color: #343a40 !important;
}
.ekstremt_utydelig2 {
    color: rgba(135, 142, 150, 0.7) !important;
}
.posKlatring {
    color: rgb(110, 179, 110);
}
.negKlatring {
    color: rgb(255, 139, 139);
}
.ganske_utydelig .posKlatring {
    color: rgb(129, 168, 129);
}
.ganske_utydelig .negKlatring {
    color: rgb(255, 162, 162);
}
.ned_pil {
    margin-right: 2.5px;
    margin-bottom: 2px;
    margin-left: -3px;
    height: 5.4px;
}
.ned_pil_ {
    margin-right: 2.5px;
    margin-bottom: 2px;
    margin-left: -4px;
    height: 5.4px;
}
.flagg {
    height:19px;
    margin-bottom: 8px;
}
.flagg_div {
    margin-left: 2px;
    height: 21px;
    margin-top: -23px !important;
    width: 21px;
    border-radius: 50%;
    background-color: rgba(161, 161, 161, 0.5);
    border: 1px solid rgb(0,0,0,0);
    box-shadow: .7px .7px rgba(110, 110, 110, 0.5);
}
.flagg_mod {
    margin-top: 1px !important;
}
#NIR, #NIRe {
    border-radius: 50%;
}
.rod_knapp:hover, .rod_knapp:active:hover {
    background-color: rgb(157, 202, 155) !important;
    border-color: rgb(157, 202, 155) !important;
    color: #329539 !important;
}
.rod_knapp, .rod_knapp:focus {
    background-color: rgb(213, 247, 214) !important;
    border-color: rgb(157, 202, 155) !important;
    color: #329539 !important;
}
.link {
    padding: 0px !important;
}
.link:hover {
    color: #343a40;
}
.bold {
    font-weight: bold;
}
.skjul {
    display: none !important;
}
.gjennomsiktighet {
    color: rgba(52, 58, 64, 0.6);
    font-size: 14px;
    font-style: italic;
}
.utydelig_link {
    color: rgb(86, 97, 255) !important;
}
.utydelig_link_klubb {
    color: rgb(106, 116, 255);
}
.utydelig_link:hover, .utydelig_link_klubb:hover {
    color:#343a40 !important;
}
.klubb {
    width: 50px;
    border-left: 1px solid rgba(177, 177, 177, 0.8) !important;
    background-color: rgb(255, 255, 255);
    color: rgba(52, 58, 64, 0.7);
}
#klubb {
    text-align: right;
    border-left: 1px solid rgba(177, 177, 177, 0.8) !important;
}
.grønn {
    background-color: rgb(212, 245, 205);
}
.rød {
    background-color: rgb(255, 214, 214);
}
.gul {
    background-color: rgb(255, 255, 216);
}
.gjennomsiktig {
    background-color: rgba(0, 0, 0, 0);
}
.tom_th {
    border-bottom: 1px solid white !important;
}
.tom {
    width: 3.9%;
    border-left: 1px solid rgba(177, 177, 177, 0.8) !important;
    background-color: white !important;
    border-top: white !important;
}
.ingen_ramme_under {
    border-bottom: 1px solid white !important;
}
#tom_kolonne {
    font-size: 0px;
    padding:0px;
    border-right: 0px solid red !important;
}
#tom_kolonne2 {
    width: 0px !important;
    padding:0px !important;
    font-size: 0px !important;
    border-right: 1px solid rgba(0,0,0,0) !important;
}
.utydelig {
    color: rgb(81, 89, 97);
}
.bindestrek {
    margin-right: 2px;
}
.id_nr:not(.ekstremt_utydelig2) .midt {
    color: #24272a;
}
.grense .premie_koeff, .grense .grense_celle, .grense .id_nr, .grense .id_nr_klubb{
    border-bottom: 2px solid rgba(52, 58, 64, 0.38) !important;
}
.grense2 .premie_koeff, .grense2 .grense_celle, .grense2 .id_nr, .grense2 .id_nr_klubb{
    border-bottom: 1px solid rgba(52, 58, 64, 0.38) !important;
}
.klubb_logo {
    margin-bottom: 1.7px;
}