@media (min-width:256px) {
    .container {
        max-width:600px
    }
    .table-sm .resultat_celle_1, .tom_celle {
        min-width:128px !important;
    }
}
@media (min-width:768px) {
    .container {
        max-width:820px
    }
    .table-sm .resultat_celle_1, .tom_celle {
        min-width:128px !important;
    }
}
@media (min-width:992px) {
    .container {
        max-width:950px
    }
}
@media (min-width:1200px) {
    .container {
        max-width:1140px
    }
} 
@media (min-width:1308px) {
    .container {
        max-width:1220px
    }
}
@media (min-width:256px) {
    .container,.container-sm {
        max-width:820px
    }
}@media (min-width:768px) {
    .container, .container-md, .container-sm {
        max-width:820px
    }
}@media (min-width:992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width:950px
    }
}@media (min-width:1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width:1140px
    }
}
@media (min-width:1308px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width:1220px
    }
}



#overskrift_forside, #beskrivelse_forside {
    text-align: center;
}
/* .btn.btn-secondary:focus, .btn.btn-secondary:active, .btn-secondary.dropdown-toggle:focus, .btn-secondary.focus, td .form-control {  /*Fjerner irriterende ramme på knapp ved trykking
    box-shadow:none !important;
}
.btn-secondary {
    display:inline;
    float:left;
    height:38px;
    font-size: 20px;
    padding: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
    color: rgb(196, 217, 255);
    transition: all 0s !important;
}
#sessong_kontroller_1 {
    margin-left: 5px !important;
}
#sessong_kontroller_2 {
    margin-right: 6px !important;
} */
table {
    border-top: 4px !important;
    border: 1px solid rgba(177, 177, 177, 0.8);
}
thead {
    border-top: 4px !important;
    border: 1px solid rgba(177, 177, 177, 0.8);
}
th {
    border: 1px solid rgba(177, 177, 177, 0.8) !important;
}
th, td {
    color: #343a40;
    height: 20px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.table.table-sm{
    width:98%;
    margin-left:1%;
    margin-right:1%;
    margin-bottom: 1.1%;
}
.table-hover tbody tr:hover{
    background-color:rgba(151, 151, 151, 0.275);
}
#poeng, #sesong1, #sesong2, #sesong3, #sesong4, #sesong5 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
}
/* @media (min-width:1021px) {
    #poeng, #sesong1, #sesong2, #sesong3, #sesong4, #sesong5 {
        text-align: right;
    }
} */
#land {
    padding-bottom: 1px !important;
    width: 0px !important;
}
.marign_venstre {
    padding-left: 5px;
}

.høyrestill {
    float: right;
    margin-left: 5px;
}

.premie_koeff {
    vertical-align:middle;
    font-family: "Noto Sans Math", monospace;
    text-align: right;
}
.id_nr {
    max-width: 60px;
    min-width: 42px;
    width: 10vw;
    text-align: center;
    border-right: 2px solid rgba(177, 177, 177, 1) !important;
}
.flagg {
    height:19px;
    margin-top: -8px;
}
.flagg_div {
    margin-left: 2px;
    height: 21px;
    margin-top: -23px !important;
    width: 21px;
    border-radius: 50%;
    border: 1px solid rgba(161, 161, 161, 0.5);
    box-shadow: .7px .7px rgba(110, 110, 110, 0.5);
}
#NIR {
    border-radius: 50%;
}