/* @media (max-width:1745px) {
    .reaklame_sidene {
        display: none;
    }
}
#ad_venstre {
    float: left;
    position: -webkit-sticky;
    position: sticky;
    padding-top:300px;
}
#ad_hoyre {
    float: right;
    position: -webkit-sticky;
    position: sticky;
    padding-top:300px;
} */

.container_ {
    width: 99.3%;
    margin: auto;
}

@media (min-width:899px) {
    .container_ {
        width: 867px;
    }
}


#overskrift_data, #beskrivelse_data {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.tabell_div_landskoeffisient{
    background-color:white;
    border-radius: .5rem;
    border-top-left-radius: 0;
    padding-bottom: .1%;
    padding-top: calc(0.6% + 4px);
    overflow-x:auto
}
table {
    border-top: 4px !important;
    border: 1px solid rgba(177, 177, 177, 0.8);
}
thead {
    border-top: 4px !important;
    border: 1px solid rgba(177, 177, 177, 0.8);
}
th, td {
    color: #343a40 !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
}

tr {
    height: 40px !important;
    margin-bottom: auto !important;
}
td {
    text-align: center;
    border: 1px solid rgba(177, 177, 177, 0.8);
    width: 11.11%;
}

.table.table-sm{
    width:98.1%;
    margin-left:1%;
    margin-right:0.9%;
    margin-bottom: 1%;
}
.svartTekst {
    color: black !important;
}
th {
    border: 1px solid rgba(177, 177, 177, 0.8) !important;
    background-color: rgb(212, 218, 237) !important;
}
.overTittel {
    background-color: rgb(233, 236, 239) !important;
}
.radTitler {
    background-color: rgb(215, 237, 212) !important;
}
.trukket {
    background-color: rgb(157, 176, 241) !important;
}
.trukket2 {
    background-color: rgb(164, 240, 154) !important;
}