@media (min-width:256px) {
    .container {
        max-width:600px
    }
    .table-sm .resultat_celle_1, .tom_celle {
        min-width:128px !important;
    }
}
@media (min-width:768px) {
    .container {
        max-width:820px
    }
    .table-sm .resultat_celle_1, .tom_celle {
        min-width:128px !important;
    }
}
@media (min-width:992px) {
    .container {
        max-width:950px
    }
}
@media (min-width:1200px) {
    .container {
        max-width:1140px
    }
} 
@media (min-width:1308px) {
    .container {
        max-width:1220px
    }
}
@media (min-width:256px) {
    .container,.container-sm {
        max-width:820px
    }
}@media (min-width:768px) {
    .container, .container-md, .container-sm {
        max-width:820px
    }
}@media (min-width:992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width:950px
    }
}@media (min-width:1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width:1140px
    }
}
@media (min-width:1308px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width:1220px
    }
}

#overskrift_forside, #beskrivelse_forside {
    text-align: center;
}
.btn.btn-secondary:focus, .btn.btn-secondary:active, .btn-secondary.dropdown-toggle:focus, .btn-secondary.focus, td .form-control {  /*Fjerner irriterende ramme på knapp ved trykking*/
    box-shadow:none !important;
}
.btn-secondary {
    display:inline;
    float:left;
    height:38px;
    font-size: 20px;
    padding: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
    color: rgb(196, 217, 255);
    transition: all 0s !important;
}
#sessong_kontroller_1 {
    margin-left: 5px !important;
}
#sessong_kontroller_2 {
    margin-right: 6px !important;
}
table {
    border-top: 4px !important;
    border: 1px solid rgba(177, 177, 177, 0.8);
}
thead {
    border-top: 4px !important;
    border: 1px solid rgba(177, 177, 177, 0.8);
}
th {
    border: 1px solid rgba(177, 177, 177, 0.8) !important;
}
th, td {
    color: #343a40;
    height: 20px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.table.table-sm{
    width:98%;
    margin-left:1%;
    margin-right:1%;
    margin-bottom: 1.1%;
}
.table-hover tbody tr:hover{
    background-color:rgba(151, 151, 151, 0.275);
}
#club, #prize_money, #ass_coeff, #club_coeff {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (min-width:1021px) {
    #ass_coeff, #prize_money, #club_coeff {
        text-align: right;
    }
}
#ass_coeff, #prize_money, #club_coeff {
    min-width: calc(10vw + 60px) !important;
}
#club {
    padding-left: 9px;
}
.marign_venstre {
    padding-left: 5px;
}
.premiepenger_span, .ass_coeff_span, .club_coeff_span {
    text-align: right;
    margin-right: 3px;
}

.premiepenger_span {
    width:106px;
    margin-right: 2px;
}
.ass_coeff_span {
    width:70%;
    margin-right: 2px;
}
.club_coeff_span {
    width:70%;
    margin-right: 5px;
}
.høyrestill {
    float: right;
    margin-left: 5px;
}


.premie_koeff {
    vertical-align:middle;
    font-family: "Noto Sans Math", monospace;
    text-align: right;
}

.id_nr {
    max-width: 60px;
    min-width: 42px;
    width: 10vw;
    text-align: center;
    border-right: 2px solid rgba(177, 177, 177, 1) !important;
}
.tabell_link {
    color: rgb(86, 97, 255);
    padding: 0px !important;
}
.tabell_link:hover {
    color:#343a40;
}
.ucl_gs {
    background-color: rgba(190, 210, 231, 0.7) !important;
}
.ucl_gs_uel {
    background: linear-gradient(to right, #bed2e7b3 50%, #ffd2b2b3 50%);
}
.uel_gs {
    background-color: rgba(255, 210, 178, 0.7) !important;
}
.uel_gs_uecl {
    background: linear-gradient(to right, #ffd2b2b3 50%, #b2ecb6b3 50%);
}
.uecl_gs {
    background-color: rgba(178, 236, 182, 0.7) !important;
}
.reklame_landskoeff {
    color: rgba(52, 58, 64, 0.6);
    font-size: 14px;
    font-style: italic;
}
.landskoeff_link {
    padding-left: 0px !important;
    color: rgba(74, 86, 255, 0.6) !important;
}
.landskoeff_link:hover {
    padding-left: 0px !important;
    color: rgba(52, 58, 64, 0.6) !important;
}